.table {
  .btn {
    font-size: 12px;
    padding: 4px 8px;
  }

  a {
    text-decoration: none;
  }

  tr {
    &:hover {
      background-color: rgb(39, 39, 39) !important;
      color: white;
    }
  }
}
