.table {
  .btn {
    font-size: 12px;
    padding: 4px 8px;
  }

  a,
  a:hover {
    text-decoration: none;
  }

  tr {
    &:hover {
      background-color: #343a40 !important;
      color: white;
      .btn {
        background-color: white;
        color: #343a40;
      }
    }
  }
}
